{% extends "base.html" %}
{% block content %}
{% if current_user.is_anonymous %}
  <h1>Hey your not allowed back here stranger!</h1>
{% else  %}


{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Well done!</strong> We have found the playlist <a href="#" class="alert-link">{{ message }}</a>
    </div>
    {% endfor %}

  {% endif %}
{% endwith %}




<!--if the user has a model_in_use let them use and tune-->
<!--TODO it should just be tune not links but drops downs and stuff-->
<!--if they have a (model allowed - in_use) >= 1 let them create a dataset and tune-->
<!-- if products[id].in_use  this stuff endif -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Model</th>
      <th scope="col">Dataset</th>
      <th scope="col">Use</th>
      <th scope="col">Tune</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for id in range(models|length) %}
  {{ form_models[id].hidden_tag() }}

    {% if models[id].in_use %}
    <tr class="table-success">
      {% else  %}
      <tr class="table-primary">
      {% endif %}

      <th scope="row">{{ models[id].name }}</th>
      <td>{{ models[id].dataset_id }}</td>
      <td>
          <form method="POST" action="/{{current_user.username}}/{{model_name}}/tune">
            <input type="submit" value="Tune">
          </form>
      </td>
      <td>
          <form method="POST" action="/{{current_user.username}}/{{model_name}}/use">
            <input type="submit" value="Use">
          </form>
      </td>
      <td>{{ form_models[id].delete() }}</td>
    </tr>
    {% endfor %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <tr class="table-secondary">
      <th scope="row">{{ form.modelname(size=32, value='New_Model') }}</th>
    <td>{{ form.datasetname(size=64, placeholder='Spotify Playlist URL') }}</td>
    <td>
      {% for field, errors in form.errors.items() %}
    <small class="form-text text-muted ">
        {{ ', '.join(errors) }}
    </small>
    {% endfor %}
    </td>



    <td></td>
    <td>{{ form.submit() }}</td>

    </tr>
</form>



  </tbody>
</table>

{% endif %}
{% endblock %}